// .a {
//     background-color: gray;
//     text-align: right;
//     position: fixed;
//     bottom: 0;
//     right: 0;
//     height: 100px;
//     padding: 30px;
// }  
.a {
    height: 20px;
    background-color: gray;
    text-align: right;
    
}