.align-header {
    text-align: center;
    line-height: 60px;
    width: 100vw;
    height: 60px;
    background-color: white;
}

.align-tabs {
    background-color: white;
    position: sticky;
    top: 60px;
}

// .size {
//     width: auto;
//     height: 100px;
   
//     position: sticky;
//     top: 0;
    

// }
