<h5 class="mt-4">===== @ViewChild Decorator ========</h5>
<pre>
    - It is a Decorator
    
    Q: Use ??
    - 1.a) It can be used to refer a child component
    - 1.b) We can directly call the method of child component and we can pass any data to the child component.

    - 2) It can be used to refer an HTML element from the template and we can access native DOM element.
    
    Q: When is the reference in viewChild available in the component ??
    - The reference is not available early in the life cycle of the component
    - The reference is available in "AfterViewInit" life cycle hook of the component
</pre>


use 1:
<br>
<button (click)="calculateSum()">Click to get sum</button>
<app-child #child></app-child>
<!-- #child is the template reference variable -->


<br><br>
use 2:
<p #para (click)="applyStyles()">
    I am a paragraph
</p>