<h5 class="mt-4">==== Data Sharing between components, Unsubscribe() ====</h5>
<pre>
    Category A: Between parent and Child components
    1. @Input() decorator: From parent to Child
    2. @Output() decorator and EventEmitter: From child to parent
    3. @ViewChild() decorator: To access child component's methods and properties
    4. Service: A service with BehaviorSubject. Where one component can insert data into BehaviorSubject and 
        other component can subscribe and get the value. Now. lets discuss Sharing data with the help of service...
</pre>

