<p>comp1 works!</p>
<h5>===== Routing =======</h5>
<pre>
    <b>What is Angular router?</b>
        It helps developers to navigate between multiple views in a Single Page Application (SPA)
    
    <b>Why it is important to keep a proper order of routes ?</b>
        The order of routes is very important because Angular Router uses a first-match wins strategy.
        Therefore, more specific routes should be placed above less specific routes.
        For ex: Wildcard routes (**) should be placed at the end because it matches every URL. 
    
    Q: <b>What is routes matching strategy?</b> 
        It is about matching the browser URL with mentioned path in routes. The router checks URL elements
        from left to right to see if the URL matches a given path and it stops when there is a match.
        There are two value of 'pathMatch' property namely 'full' and 'prefix'.
        - If the matching strategy is 'full', then router tries to match the URL with full path.
        - If the matching strategy is 'prefix', then router tries to match the URL that starts with the mentioned path.   

    Q: <b>What is router-outlet ?</b> 
        - It is a directive from router library. It inserts the component that matches the route path with browser URL.
        - It can be used multiple times in the application. For ex: for top level routes and child level
            routes (lazy loaded feature modules)
    
    Q: <b>Diff between RouterModule.forRoot() and RouterModule.forChild()?</b>
        - forRoot(): 
            1. It is used to configure top level (root level) routes in an angular application.
            2. It is used only once in the application.
        - forChild(): 
            1. It is used to configure any other routes in an angular application. For ex: We can configure routes
            for lazy loaded feature modules.
            2. It can be used multiple times in the application. For ex: Every feature module can have their own routes.

    Q: <b>What are nesting routes?</b>
        - Sometimes, we need sub menus of a parent menu. In these situations, we need to configure Children routes.
        - For ex: Let's say there is main menu "Profile Settings" and there are sub-menus like change password, change contact etc.
            So, in this example we can configure Children routes under "profile-settings" route.
        - We can use "router-outlet" to render components corresponding to Children routes.

    Q: <b>What is Lazy loading of feature modules ? </b>
        - Lazy loading is the process of loading components, modules,or other assets of an application only when they're required.
        - Since angular creates a SPA so all of its components/modules are loaded at once. This means a lot of unnecessary
            components/modules are loaded. This increases the load time of the application home page. If the application is big
            then this problem even grows bigger. Therefore, lazy loading allows angular to load components/modules as and when
            they're needed.
        - To implement this we can use loadChildren() in app-routing module.
</pre>

